body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  color: #007BFF;
}

input[type="text"],
select {
  padding: 10px;
  margin: 10px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

p#shayariOutput {
  margin: 20px;
  font-size: 18px;
  color: #333;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Media Queries */
/* For screens with width up to 768px (e.g., tablets) */
@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

/* For screens with width up to 480px (e.g., mobile phones) */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  
  input[type="text"],
  select {
    font-size: 14px;
  }
  
  button {
    font-size: 14px;
  }
  
  p#shayariOutput {
    font-size: 16px;
  }
}
